
.subsection {
	margin-top: 18px;
}

#subsection-collapse {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

/*.notes {

	background-image: url("lines_paper_by_ginnyhaha_stock.jpg");
	background-repeat: repeat;
	background-size: 100%;

}*/